extends base.pug

block content
    video(src="/"+video.fileUrl, controls, width=1000)
    div 
        p=video.description
        small=video.createdAt
    div 
        small Uploaded by  
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delte Video &rarr;
    
    
    
    
//- (absolute , relative url? 차이점은 /가 붙으면 localhost /로 가게된다.)
//- localhost:4000/profile/edit-profile/password
//- ====> a(href="potato")
//- localhost:4000 /profile/edit-profile/potato
//- ====> a(href="/potato")
//- localgost:4000/potato