extends base.pug

block content
    div#videoContainer(data-id = video._id)
        video(src="/"+video.fileUrl,controls, width=1000)
        div#videoControls
            button#play Play 
            button#mute Mute 
            input(type="range",step="0.1",value=0.5,min="0",max="1")#volume
            div 
                span#currenTime 00:00
                span  / 
                span#totalTime 00:00
            div
            input(type="range",step="1",value="0",min="0")#timeline
            div 
                button#fullScreen Enter Full Screen
            br
    if loggedIn
        div.video_comments
            form.video_comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice Comment...")
                button Add Comment
    div.video_comments 
        ul 
            each comment in video.comments.reverse()
                li.video__comment=comment.text
    //- div 
    //-     p=video.description
    //-     small=video.createdAt
    //- div 
    //-     small Uploaded by  
    //-         a(href=`/users/${video.owner._id}`) #{video.owner.name}
    //- if String(video.owner._id) === String(loggedInUser._id)
    //-     a(href=`${video.id}/edit`) Edit Video &rarr;
    //-     br
    //-     a(href=`${video.id}/delete`) Delte Video &rarr;
    
block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")
    
    
//- (absolute , relative url? 차이점은 /가 붙으면 localhost /로 가게된다.)
//- localhost:4000/profile/edit-profile/password
//- ====> a(href="potato")
//- localhost:4000 /profile/edit-profile/potato
//- ====> a(href="/potato")
//- localgost:4000/potato